body {
  background-color: rgb(59, 58, 58);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

.destacado {
  background-color: yellow;
  color: black;
}

.tachado {
  text-decoration: line-through;
}

.linhaVertical {
  display: flex;
  justify-content: center;
}

.imagemReduzida {
  height: 300px;
  width: 600px;
}

.justificado {
  text-align: center;
}

.tableCalendario:hover {
  transform: scale(1.2);
}

.verticalSimples {
  display: inline-block;
}