backend/node_modules
frontend/node_modules
CursosCFB/exercicios/node_modules
nextJS/fundamentos/node_modules


/backend/node_modules
/CursosCFB/exercicios/node_modules
/frontend/node_modules
/nextJS/fundamentos/node_modules