
.Corpo {
    box-sizing: border-box;
    color: white;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3 1fr;
    grid-template-areas:
        "hea hea"
        "main as"
        "ft ft"
    ;
}