.Corpo {
    box-sizing: border-box;
    color: white;
    background-color: grey;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2 1fr;
    grid-template-rows: 3 1fr;
}